.dark-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(2, 1, 1, 0.95);
}

h1 {
    font-family: Montserrat, Sans-serif, Arial, serif;
    font-style: normal;
    font-weight: normal;
}

.hideLayerIcon:hover {
    cursor: pointer;
}