<div>
    <h1 class="fs-2 text-center p-4 fw-bold">SIMPLY DOWNLOADING FROM</h1>
    <img src="../../assets/images/yandeks-muzyka.png" class="img-fluid m-auto d-block" alt="yandex music service logo" />
</div>
