<template src="./IndexApp.html"></template>
<style scoped src="./IndexApp.css"></style>

<script>
import AuthForm from "./AuthForm/AuthForm";
import $ from "jquery";


export default {
    name: "IndexApp",
    components: {
        AuthForm,
    },
    data: function (){
        return {
        };
    },
    props: ['signInShowed', 'signUpShowed', 'darkLayerShowed', 'hideDarkLayer'],

    methods: {


        sendSignUpAuthData: function (event) {
            event.preventDefault();
            $.ajax({
                url: "/auth/signin/",
                method: "post",
                data: {
                    email: document.getElementById("inputEmail"),
                    password: document.getElementById("inputPassword"),
                },
                success: function (response) {
                    alert(response);
                }
            });
        },
    },

}
</script>

