<template src="./Track.html"></template>
<style src="./Track.css"></style>


<script>

import $ from "jquery";
import {getDataPromise} from "../../utils";

function getDownloadingUrlTrack(resolve, trackTitle, trackArtists) {
    let artistsStr = '';
    for (let i = 0; i < trackArtists.length; i++) {
        artistsStr += trackArtists[i].name + ' ';
    }
    console.log(artistsStr);
    $.ajax({
        url: `http://localhost:8000/api/track/url?track_q="${trackTitle} ${artistsStr}"}`,
        method: 'GET',
        "Content-Type": 'application/json',
        success: function(data) {
            resolve( data);
        }
    });
}


export default {
    data: function () {
        return {
            toDownloadSign: true,
            foundUrl: null,
            downloadingUrl: null,
        };
    },
    props: ['track_id', 'duration', 'title', 'artists', 'albumImg', 'albums', 'checkedTrack'],
    computed: {
        durationInSec: function () {
            let min = Math.floor(this.duration / 1000 / 60)
            let sec = Math.floor(this.duration/1000) - min * 60;
            if (sec < 10) {
                sec = "0" + sec;
            }
            return min + ":" + sec;
        },

        avatarPlaylist: function () {
          // "//avatars.yandex.net/get-music-content/2110367/d1ac07fa.a.10158952-1/50x50"
          let parts = this.albumImg.split('/');
          return `https://${parts[0]}/${parts[1]}/${parts[2]}/${parts[3]}/50x50`;
        },

        titleSourceLink: function () {
            return `https://music.yandex.ru/album/${this.albums[0]["id"]}/track/${this.track_id}`;
        },
    },

    methods: {
        downloadTrack: function () {
            getDataPromise(getDownloadingUrlTrack, this.title, this.artists).then((/*data*/) => {
                // if (data.track === null) {
                //     alert("Sorry, I can't find this track =(");
                //     return;
                // }
                // this.downloadingUrl = data.track.downloadingUrl;
                if (this.downloadingUrl === null) {
                    alert("Sorry, I can't find this track =(");
                    return;
                }
                window.open(this.downloadingUrl , '_blank', "noreferrer");
            });
        }
    },

    mounted() {
        getDataPromise(getDownloadingUrlTrack, this.title, this.artists).then((data) => {
            if (data.track === null) {
                this.foundUrl = false;
                return;
            }
            this.downloadingUrl = data.track.downloadingUrl;
            this.foundUrl = true;
        });
    }

};

</script>





