.track {
    padding: 5px;
}
.track:hover {
    border: 3px solid #0d0018;
}

.track__duration {
    min-width: 50px;
}

.track__img {
    width: 50px;
    height: 50px;
}

.track_info__title {
    padding: 3px 0;
    font-weight: bold;
}

.track_info__author {
    padding: 2px 0;
}

.extra-info-link {
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

.extra-info-link:hover {
    color: #9800a3;
    color: #c6071d;
}

.track-download-sign {
    border-radius: 5px;
}

.track-download-sign:hover {
    cursor: pointer;
}

.extra-info-link_artist::after {
    content: ', ';
}

.extra-info-link_artist:last-child::after {
    content: '';
}

.playlist__info__size_track-count {
    margin: 0;
    padding: 0;
}


.downloadLink:hover {
    cursor: pointer;
}

.downloadURLStatus {
    margin: 0 30px;
}