<div v-bind:id="track_id" class="track row m-0 m-md-1 align-items-center">

    <img v-bind:src="avatarPlaylist" width="50px" height="50px" class="track__img col-auto d-none d-sm-inline p-0" alt="" />
    <p class="track__duration col-1 col-md-auto px-2">{{ durationInSec }}</p>
    <div class="track_info col-7 p-0">
        <p class="track_info__title"><a v-bind:href="titleSourceLink" class="extra-info-link" target="_blank">{{ title }}</a></p>
        <p class="track_info__author"><a v-bind:href="'https://music.yandex.ru/artist/' + artist.id" class="extra-info-link extra-info-link_artist" v-for="artist in artists" target="_blank">{{ artist["name"]}}</a></p>
    </div>

    <div class="col-auto d-flex align-items-center">
        <input type="checkbox" class="track-download-sign mx-3" v-bind:checked="checkedTrack && foundUrl">
        <svg v-on:click="downloadTrack" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-arrow-down col-auto downloadLink" viewBox="0 0 16 16">
            <title>Download</title>
            <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"/>
            <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
        </svg>

        <svg v-if="foundUrl === true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0d6100" class="bi bi-bookmark-check-fill col-auto downloadURLStatus" viewBox="0 0 16 16">
            <title>You can download this track</title>
            <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
        </svg>
        <svg v-if="foundUrl === false" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#c6071d" class="bi bi-x-octagon-fill downloadURLStatus" viewBox="0 0 16 16">
            <title>You can not download this track</title>
            <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg>
    </div>




</div>