.set-panel {
    margin-bottom: 50px;
}
.set-panel__selection {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.set-panel__selection label {
    padding: 5px;
}

.set-panel__download-btn {
    padding: 10px;
    background: #0d0018;
    color: #eaeaea;
    border-radius: 3px;
}

.set-panel__download-btn:hover {
    background: #1f0038;
}