<div class="track-list container-fluid p-0">
    <div class="row set-panel m-md-1">
        <button class="col-auto set-panel__download-btn"
                v-on:click="downloadAllTracks">download tracks</button>
        <div class="d-flex col-auto set-panel__selection">
            <label for="choice-all-playlist" class="">Select all</label>
            <input v-model="allTracksCheckbox" type="checkbox" id="choice-all-playlist">
        </div>
    </div>
    <Track v-for="track in tracks"
           v-bind:track_id="track.track.id"
           v-bind:artists="track.track.artists"
           v-bind:title="track.track.title"
           v-bind:duration="track.track.durationMs"
           v-bind:albumImg="track.track.ogImage"
           v-bind:albums="track.track.albums"
           v-bind:checkedTrack="checkedAll"
           ></Track>
</div>