<template src="./TrackList.html"></template>

<script>
import Track from "/src/components/Track/Track.vue";



export default {
    name: "TrackList",
    data: function () {
        return {
            info: null,
            allTracksCheckbox: null,
            checkedAll: false,
        };
    },
    components: {
        Track
    },
    props: ['tracks'],
    methods: {
        downloadAllTracks: function () {
            alert("Downloading all tracks btn");
        }
    },

    watch: {
        allTracksCheckbox: function () {
            this.checkedAll = !this.checkedAll;
        }
    }
}
</script>

<style src="./TrackList.css" scoped></style>