@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf") format('ttf')
}


html, body {
    min-width: 300px;
    width: 100%;
    font-family: Montserrat, Sans-serif, Arial, serif;
    font-style: normal;
    font-weight: normal;
}