.update-tracks-btn {
    width: 45px;
    height: 45px;
    background: #f6f6f6;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
    color: #1d0032;
}

.update-tracks-btn:hover {
    cursor: pointer;
    /*col*/
}

.update-tracks-btn__title {
    /*width: 1px;*/
    vertical-align: center;
    border-left: 2px solid #c1c1c1;
}
