<template src="./UpdateTracksDataBtn.html"></template>
<style scoped src="./UpdateTracksDataBtn.css"></style>


<script>
export default {
  name: "UpdateTracksDataBtn",
  data: function () {
      return {
          btnTitle: 'Обновить список',
      };
  },

}
</script>

