<template>
    <div class="pass-input my-3">
        <div class="d-flex justify-content-between">
            <label for="inputPassword" class="form-label">Password </label>
            <a href="/forgot_password.html" v-if="showHelpLink">Forgot password?</a>
        </div>
        <input type="password" class="form-control my-1" id="inputPassword"
               v-model="password"
               v-bind:class="{ invalidInput: !passwordValid, validInput: passwordValid, emptyInput: passwordValid === null }" required />
        <p class="errMessage" v-if="!passwordValid && passwordValid != null">{{ passwordErrLengthMessage }}</p>
    </div>
</template>

<script>
export default {
    name: "PasswordInput",
    data: function () {
        return {
            passwordErrLengthMessage: 'Пароль должен быть не менее 8 символов',
            passwordValid: null,
            password: '',
        };
    },
    props: ['showHelpLink'],
    watch: {
        password: function (val) {
            this.passwordValid = (val.length >= 8);
            this.$emit('changePasswordInput', {
                passwordValid: this.passwordValid,
            });
        },
    },
}
</script>

<style scoped>
.form-label {
    margin-bottom: 6px;
}

.invalidInput, .invalidInput:focus, .invalidInput:active  {
    border: 2px solid red;
    background: #ff4d5b ;
}

.validInput {
    border: 2px solid #1e6c00;
    /*background: #b7f750;*/
}

.emptyInput, .emptyInput:focus {
    border: none;
    background: white;
}

.errMessage {
    color: #ce0000;
    margin: 8px 0 0;
}
</style>