<template>
    <div class="row m-0 pt-2">
        <nav class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-2 p-0">
            <Playlist v-for="playlist in playlists"
                      v-bind:key="playlist.kind"
                      v-bind:playlist-info="playlist"
                      v-on:click="getPlaylistTracks(playlist.kind)"></Playlist>
        </nav>
        <main class="col">
            <TrackList v-bind:tracks="tracks"></TrackList>
        </main>
        <div class="d-none d-md-block col-lg-2 right-side"></div>
    </div>
</template>

<script>
import Playlist from "./Playlist";
import TrackList from "./TrackList/TrackList";
import $ from "jquery";
import {getDataPromise} from "../utils";


function getTracks(resolve, playlistId) {
    let playlistInLocalStorage = JSON.parse(localStorage.getItem(`playlist_${playlistId}`));
    if (playlistInLocalStorage) {
        let playlists = JSON.parse(localStorage.getItem("playlists"));
        for (let i = 0; i < playlists.length; i++) {
            if (playlists[i].kind === playlistId) {
                if (playlistInLocalStorage.full_playlist.modified === playlists[i].modified) {
                    resolve(playlistInLocalStorage);
                    return;
                }
                break;
            }
        }
    }

    $.ajax({
        url: `http://localhost:8000/api/playlists/${playlistId}`,
        method: 'GET',
        cache: true,
        "Content-Type": 'application/json',
        success: function(data) {
            localStorage.setItem(`playlist_${playlistId}`, JSON.stringify(data));
            resolve(data);
        }
    });
}



export default {
    name: "MainContent",
    data: function () {
        return {
            playlistTracks: null,
            tracks: null,
        };
    },
    components: {
        Playlist,
        TrackList,
    },
    props: ['playlists'],
    methods: {
        getPlaylistTracks: function (playlistId) {
            getDataPromise(getTracks, playlistId).then((val) => {
                this.tracks = val['full_playlist'].tracks;
            });
        }
    }
}
</script>

<style scoped>
nav {

    border-right: 3px solid #0d0018;
}

</style>