<template>
    <div class="d-flex playlist" v-bind:id="playlistInfo.kind" role="img" alt="heart">
<!--        <img src="https://music.yandex.ru/blocks/playlist-cover/playlist-cover_like.png" class="playlist__img p-0" />-->
        <img v-bind:src="avatar" class="playlist__img p-0" />
        <div class="w-100 playlist__info">
            <p class="playlist__info_title">{{ playlistInfo.title }}</p>
            <div class="playlist__info__size d-flex justify-content-between">
                <p class="playlist__info__size_duration">{{ playlistDuration }}</p>
                <p class="playlist__info__size_track-count">
                    {{ playlistInfo.trackCount }}&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-music" viewBox="0 0 16 16">
                    <path d="M10.304 3.13a1 1 0 0 1 1.196.98v1.8l-2.5.5v5.09c0 .495-.301.883-.662 1.123C7.974 12.866 7.499 13 7 13c-.5 0-.974-.134-1.338-.377-.36-.24-.662-.628-.662-1.123s.301-.883.662-1.123C6.026 10.134 6.501 10 7 10c.356 0 .7.068 1 .196V4.41a1 1 0 0 1 .804-.98l1.5-.3z"/>
                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                </svg>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Playlist",
    data: function () {
        return {
            avatarPlaylist: null,

        };
    },
    props: ['playlistInfo'],

    computed: {
        playlistDuration: function () {
            let ms = +this.playlistInfo.durationMs;
            let hours = Math.floor(ms / 1000 / 3600);
            let mins = Math.floor(ms / 1000 / 60);
            let secs = Math.floor(ms / 1000);

            if (hours > 1) {
                return `${hours} h ${mins - (60 * hours)} m`;
            }
            return `${mins} m ${secs - (mins * 60)} s`;
        },

        avatar: function () {
            //  avatars.yandex.net/get-music-user-playlist/28719/888212347.1004.3243/%%?1619114542092
            //  avatars.yandex.net/get-music-content/32236/0719cba3.a.2747498-1/200x200"
            let sch = this.playlistInfo.ogImage;
            if (sch === '') {
                return 'https://music.yandex.ru/blocks/playlist-cover/playlist-cover_like.png';
            }
            let parts = this.playlistInfo.ogImage.split('/');
            return `https://avatars.yandex.net/${parts[1]}/${parts[2]}/${parts[3]}/50x50`;
        }
    },


}
</script>

<style scoped>
.playlist {
    padding: 0 10px;
    border-radius: 0;
}

.playlist:hover {
    cursor: pointer;
    background: #efefef;
}

.playlist img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.playlist:hover img {
    border-radius: 50%;
}

.playlist:last-child {
    border: none;
}

.playlist__info_title {
    font-weight: bold;
}

.playlist__info__size {
    font-family: sans-serif;
    font-size: 0.9em;
}
.playlist__info p {
    margin: 5px 0;
}

.playlist__img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

</style>