<template>
    <p class="auth-form-title my-4">Sign up to <a href="/">YM-Dowloader</a></p>
    <form class="auth-form">
        <EmailInput @changeEmailInput="updateEmailInputState" ></EmailInput>
        <PasswordInput v-bind:show-help-link="true" @changePasswordInput="updatePasswordInputState" ></PasswordInput>

        <input type="submit" class="w-100 signInSubmit" value="Sign up"
               v-on:click="sendSignUpAuthData"
               v-bind:class="{activeSubmit: formValid, lockedSubmit: !formValid}" />
    </form>
</template>

<script>
// import $ from "jquery";
import EmailInput from "../EmailInput/EmailInput";
import PasswordInput from "../PasswordInput/PasswordInput";

export default {
    name: "SignInForm",
    data: function () {
        return {
            passwordErrLengthMessage: 'Пароль должен быть не менее 8 символов',
            emailErrFormatMessage: 'Некорректный формат email',
            passwordValid: false,
            emailValid: false,
            email: '',
            password: '',
        };
    },
    components: {
        EmailInput,
        PasswordInput,
    },
    methods: {
        updateEmailInputState: function (vals) {
            this.emailValid = vals.emailValid;
        },

        updatePasswordInputState: function (vals) {
            this.passwordValid = vals.passwordValid;
        },

        sendSignUpAuthData: function (event) {
            event.preventDefault();
            let data = {
                email: document.getElementById("inputEmail").value,
                password: document.getElementById("inputPassword").value,
            };
            console.log(data);
            window.location = './app.html';
            // $.ajax({
            //     url: "/signup",
            //     method: "post",
            //     data: {
            //         email: document.getElementById("inputEmail"),
            //         password: document.getElementById("inputPassword"),
            //     },
            //     success: function (response) {
            //         alert(response);
            //     }
            // });
        },
    },
    
    computed: {
        formValid: function () {
            return this.emailValid && this.passwordValid;
        }
    },
}
</script>

<style scoped>
.auth-form {
    max-width: 400px;
    padding: 10px;
    margin: auto;
    background: #080010;
    color: #d9d9d9;
    border: 3px solid #e9e9ff;
    border-radius: 10px;
}

.auth-form-title {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}


.auth-form {
    max-width: 400px;
    padding: 10px;
    margin: 10% auto 0;
    background: #080010;
    color: #d9d9d9;
    border: 3px solid #e9e9ff;
    border-radius: 10px;
}

.auth-form-title {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.signInSubmit {
    padding: 10px 0;
    border: none;
    border-radius: 3px;
}

.lockedSubmit {
    background: #757d77;
    color: #000000;

}

.lockedSubmit:hover {
    cursor: default;
}

.activeSubmit {
    background: #04420c;
    color: #d7d7d7;
}
.activeSubmit:hover {
    background: #03530d;
    color: #d5d5d5;
    cursor: pointer;
}

.errMessage {
    color: #ce0000;
    margin: 8px 0 0;
}
</style>