<template>
    <p class="auth-form-title my-4">Sign in to <a href="/">YM-Dowloader</a></p>
    <form class="auth-form">

        <EmailInput @changeEmailInput="updateEmailInputState" ></EmailInput>
        <PasswordInput v-bind:show-help-link="true" @changePasswordInput="updatePasswordInputState" ></PasswordInput>

<!--        <div class="g-recaptcha my-3 p-0" data-sitekey="site_key"></div>-->
        <input type="submit" class="w-100 signInSubmit" value="Sign in"
               v-on:click="sendSignInAuthData"
               v-bind:class="{activeSubmit: formValid, lockedSubmit: !formValid}" />

        <p class=" my-1 mt-4">Ещё нет аккаунта? <a href="/signup.html" class="px-2">Зарегестрируйтесь</a></p>
    </form>
</template>

<script>
// import $ from "jquery";
import EmailInput from "../EmailInput/EmailInput";
import PasswordInput from "../PasswordInput/PasswordInput";


export default {
    name: "SignInForm",
    data: function () {
        return {
            passwordValid: false,
            emailValid: false,
        };
    },
    components: {
        EmailInput,
        PasswordInput,
    },
    methods: {
        updateEmailInputState: function (vals) {
            this.emailValid = vals.emailValid;
        },

        updatePasswordInputState: function (vals) {
            this.passwordValid = vals.passwordValid;
        },

        sendSignInAuthData: function (event) {
            event.preventDefault();
            if (this.formValid) {
                let userInData = {
                    email: document.getElementById("inputEmail").value,
                    password: document.getElementById("inputPassword").value,
                };
                console.log(userInData);
            }

            // window.location = '/users/1/';
            // $.ajax({
            //     url: "localhost/auth/signin/",
            //     "Content-Type": 'application/json',
            //     method: "post",
            //     data: {
            //         // email: document.getElementById("inputEmail"),
            //         // password: document.getElementById("inputPassword"),
            //     },
            //     success: function (response) {
            //         // console.log(response);
            //         alert("good auth");
            //         window.location = '/users/1/';
            //     }
            // });
        },
    },

    computed: {
        formValid: function () {
            return this.emailValid && this.passwordValid;
        }
    },
}
</script>

<style scoped>
.auth-form {
    max-width: 400px;
    padding: 10px;
    margin: auto;
    background: #080010;
    color: #d9d9d9;
    border: 3px solid #e9e9ff;
    border-radius: 10px;
}

.auth-form-title {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.signInSubmit {
    padding: 10px 0;
    border: none;
    border-radius: 3px;
}

.lockedSubmit {
    background: #757d77;
    color: #000000;

}

.lockedSubmit:hover {
    cursor: default;
}

.activeSubmit {
    background: #04420c;
    color: #d7d7d7;
}
.activeSubmit:hover {
    background: #03530d;
    color: #d5d5d5;
    cursor: pointer;
}
</style>