<template>
    <MainAppHeader v-bind:is-auth-visible="false" v-bind:userAuthorized="true"></MainAppHeader>
    <MainContent v-bind:playlists="myPlaylists"></MainContent>
</template>


<script>
import MainAppHeader from "./components/MainAppHeader/MainAppHeader";
import MainContent from "./components/MainContent";

import $ from "jquery";
import {getDataPromise} from "./utils";


function getPlaylists(resolve) {
    $.ajax({
        url: "http://localhost:8000/api/playlists",
        method: 'GET',
        cache: true,
        "Content-Type": 'application/json',
        success: function(data) {
            resolve(data);
        }
    });
}


export default {
    name: 'App',
    data: function (){
        return {
            myPlaylists: null,
            showPlaylist: false,

        };
    },

    components: {
        MainAppHeader,
        MainContent,
    },

    methods: {
        updatePlaylists: function () {
            this.myPlaylists = null;
            getDataPromise(getPlaylists).then((val) => {
                this.myPlaylists = val['playlists'];
                console.log(this.myPlaylists);
            });
        },
    },
    mounted() {
        getDataPromise(getPlaylists).then((val) => {
            this.myPlaylists = val['playlists'];
            localStorage.setItem("playlists", JSON.stringify(this.myPlaylists));
        });
    }
}
</script>
