<template>
    <MainAppHeader v-bind:is-auth-visible="true" v-bind:userAuthorized="false"></MainAppHeader>
    <IndexApp></IndexApp>
</template>



<script>
import MainAppHeader from "./components/MainAppHeader/MainAppHeader";
import IndexApp from "./components/IndexApp/IndexApp";


export default {
    name: 'App',
    components: {
        MainAppHeader,
        IndexApp,
    },
}
</script>
