<template>
    <SignInForm></SignInForm>
</template>

<script>
import SignInForm from "./components/SignInForm/SignInForm";

export default {
    name: "SignInApp",
    components: {
        SignInForm,
    },
}
</script>

<style scoped>

</style>