<template>
    <SignUpForm></SignUpForm>
</template>

<script>
import SignUpForm from "./components/SignUpForm/SignUpForm";

export default {
    name: "SignUpApp",
    components: {
        SignUpForm,
    },
}
</script>

<style scoped>

</style>