<template src="./MainAppHeader.html"></template>
<style scoped src="./MainAppHeader.css"></style>


<script>
import UserAccLabel from "../UserAccLabel";


export default {
    name: "MainAppHeader",
    data: function () {
        return {

        };
    },
    components: {
        UserAccLabel,
    },
    props: ["isAuthVisible", "userAuthorized"],

}
</script>

