<header id="app-header" class="main-header m-0">
    <div class="row py-3 mx-0 justify-content-between align-items-center">
        <h3 class="main-title col-auto"><a href="/">YM-Downloader</a></h3>
        <div class="auth-wrap col-auto" v-if="isAuthVisible">
            <a href="./signin.html" class="auth-act-link">sign in</a>
            <a href="./signup.html" class="auth-act-link">sign up</a>
        </div>
        <UserAccLabel v-if="userAuthorized"></UserAccLabel>
    </div>
</header>