.main-header {
    background: #0d0018;
    border-bottom: 5px solid #aaa;
}

.main-title {
    color: #e9e9ff;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}
.main-title a {
    color: inherit;
    text-decoration: none;
}

.main-title a:hover {
    color: inherit;
}

.auth-act-link {
    display: inline-block;
    padding: 5px 5px;
    margin-left: 10px;
    border: 1px solid #e9e9ff;
    border-radius: 5px;
    color: #e9e9ff;
    font-weight: bold;
    text-decoration: none;
}

.auth-act-link:hover {
    background: #e9e9ff;
    border: 1px solid #1d0032;
    color: #1d0032;
}