<template>
    <div class="my-3">
        <label for="inputEmail" class="form-label">Email </label>
        <input type="email"
               class="form-control my-1"
               id="inputEmail"
               v-model.trim="email"
               v-bind:class="{ invalidInput: !emailValid, validInput: emailValid, emptyInput: emailValid == null }" required />

        <p class="errMessage" v-if="!emailValid && emailValid != null">{{ emailErrFormatMessage }}</p>
    </div>
</template>

<script>
export default {
    name: "EmailInput",
    data: function () {
        return {
            email: '',
            emailValid: null,
            emailErrFormatMessage: 'Некорректный формат email',
        };
    },
    watch: {
        email: function (val) {
            const reg = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            this.emailValid = reg.test(val);
            this.$emit('changeEmailInput', {
                emailValid: this.emailValid,
            });
        },
    },
}
</script>

<style scoped>
.form-label {
    margin-bottom: 6px;
}

.invalidInput, .invalidInput:focus, .invalidInput:active {
    border: 2px solid red;
    background: #ff4d5b;
}

.validInput, .validInput:focus{
    border: 2px solid #1e6c00;
    /*background: #b7f750;*/
}

.emptyInput, .emptyInput:focus {
    border: none;
    background: #ffffff;
}

.errMessage {
    color: #ce0000;
    margin: 8px 0 0;
}
</style>