<form class="auth-form">
    <p class="auth-form-title my-4">{{ actionTitle }} in to YM-Dowloader</p>

    <div class="email-input my-3">
        <label for="inputEmail" class="my-1">Email address </label>
        <input type="email" class="my-1 form-control" id="inputEmail" />
    </div>

    <div class="pass-input my-3">
        <label for="inputPassword" class="form-label my-1">Password </label>
        <input class="form-control my-1" type="password" id="inputPassword" />
    </div>
    <button class="btn w-100" v-on:click="auth_action">{{ actionTitle }}</button>
</form>
