.auth-form {
    max-width: 400px;
    padding: 10px;
    margin: 10% auto 0;
    background: #080010;
    color: #d9d9d9;
    border: 3px solid #e9e9ff;
    border-radius: 10px;
}

.auth-form-title {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.auth-form button {
    color: #c1c1c1;
    border: 1px solid #c1c1c1;
}

.auth-form button:hover {
    background: #04420c;
}

