<template src="./AuthForm.html"></template>
<style scoped src="./AuthForm.css"></style>


<script>


export default {
    name: "AuthForm",
    data: function () {
        return {
        }
    },
    props: ['actionTitle', 'auth_action'],
}
</script>

